*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-image: url(../img/bg01.png);
  color: #555;
}

header {
  text-align: center;
}
header nav {
  display: inline;
}
header ul {
  display: inline;
}
header ul li {
  list-style: none;
}
header a {
  text-decoration: none;
  color: #555;
}
header .fa {
  background-color: #df6267;
  padding: 20px 20px;
  border-radius: 50%;
  font-size: 200%;
  color: #fff;
}
header h1 {
  color: #555;
}

main h2 {
  text-align: left;
}
main p {
  text-align: right;
  margin-top: -40px;
}
main .gallery img {
  display: block;
  width: 30%;
  border-radius: 20px;
  padding: 20px 15px;
  margin-left: 40px;
  float: left;
}
main .gallery img::before, main .gallery img::after {
  display: block;
  content: "";
  clear: both;
}
main .gallery img a {
  text-align: center;
}
