/* put your scss here */
@import url(https://fonts.googleapis.com/css?family=Roboto:700,100,300);

body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6, p{
	margin-top: 0;
	color: hsla(0, 0%, 40%, 1);
	font-weight: 100;
	text-align: center;
}
p{
	font-weight: 300; 
}
a.btn{
	text-decoration: none;
	color: inherit;
	display: block;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-color: hsla(0, 0%, 100%, 1);
	padding: 15px 30px;
	border-radius: 5px;
	background-color: hsla(0, 0%, 100%, .2);
}
header{
	background-image: url(../img/overlay.png), url(../img/header.jpg);
	background-size: initial, cover;
	background-position: top center;
	padding: 150px 0;
	color: hsla(0, 0%, 100%, 1);
	h1{
		font-size: 2.5em;
		margin: 0;
		color: inherit;
	}
	h2{
		font-size: 1.4em;
		margin: 1.2em 0;
		color: inherit;
	}
	a{
		width: 250px;
		margin: 0 auto;
	}
}