@import 'variables';
@import 'reset';
@import 'fontawesome';

$bg-clr: hsla(0, 0%, 96%, 1);
$lite-clr: hsla(0, 0%, 77%, 1);
$stop: hsla(0, 100%, 43%, 1);
$slow: hsla(55, 100%, 43%, 1);
$go: hsla(100, 100%, 43%, 1);
$bdr-clr: hsla(0, 0%, 34%, 1);

html, body {
	height: 100%;
}
header {
	overflow: hidden;
}
#hero {
	width: 500%;
	height: 45vw;
	display: flex;
	flex-wrap: nowrap;
	position: relative;
	button {
		position: absolute;
		top: 50%;
		transform: translate3d(0, -50%, 0);
		width: 10vw;
		height: 10vw;
		background-color: hsla(0, 0%, 100%, .15);
		border: none;
		color: #fff;
		font-size: 1.25em;
		z-index: 10;
		&:hover {
			background-color: hsla(0, 0%, 0%, .1);
			color: hsla(0, 100%, 100%, .3);
		}
	}
	button:first-child {
		left: 0;
	}
	button:last-child {
		left: 90vw;
	}
	div {
		$divclr: (360 / 5);
		height: 35vw;
		width: (100% / 5);
		background: {
			position: center;
			size: cover;
			repeat: no-repeat;
		}
		@for $i from 1 through 5 {
			//$clr: $divclr * $i;
			&:nth-of-type(#{$i}){
				//background-color: hsla($clr, 40%, 60%, 1);
				background-image: url(../img/got-#{$i}.jpg);
			}
		}
	}
	div {
		position: absolute;
		z-index: 1;
		//left: 100%;
		//transition: left 750ms ease-in-out;
		&.active {
			left: 0;
			z-index: 2;
		}
	}
}

main {
	background-color: $bg-clr;
	height: inherit;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	div:first-child {
		$litesize: 5vw;
		display: flex;
		flex-direction: column;
		background-color: $lite-clr;
		border-radius: $litesize / 8;
		padding: $litesize / 4;
		margin: $litesize;
		border: 2px solid $bdr-clr;
		span {
			display: block;
			width: $litesize;
			height: $litesize;
			background-color: $slow;
			border-radius: 100%;
			border: inherit;
			margin: $litesize / 4;
			&:first-child {
				background-color: $stop;
				&.lit, &:hover {
				background-color: lighten($stop, 20);
			}
			}
			&:last-child {
				background-color: $go;
				&.lit, &:hover {
				background-color: lighten($go, 20);
			}
			}
			&.lit, &:hover {
				background-color: lighten($slow, 20);
				cursor: pointer;
			}
		}
	}
	div:last-child {
		$imgsize: 12vw;
		width: $imgsize;
		height: $imgsize * 2.22222;
		margin: 5vw;
		background: {
			//image: url(../img/walk1.gif);
			position: center;
			repeat: no-repeat;
			size: cover;
			//color: lightgreen;
		}
		animation: {
			name: walk;
			duration: .75s;
			iteration-count: infinite;
			timing-function: linear;
		}
	}
}

@keyframes walk {
	$perckey: 100 /9;
	//@debug $perckey;
	@for $i from 1 through 9 {
		$perc: $perckey * $i;
		//@debug $perc;
		#{$perc}% {
			background-image: url(../img/walk#{$i}.gif);
		}
	}
	//0% {
		//background-image: url(../img/walk1.gif);
	//}
}
