/* put your scss here */
/* put your scss here */
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);
body {
  font-family: 'Roboto COndensed', sans-serif;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  font-weight: 300;
}

h1 {
  font-size: 300%;
  margin-bottom: 0;
}

h2 {
  font-size: 180%;
  margin-bottom: 40px;
}

h3 {
  font-size: 150%;
  margin-top: 0;
}

h4 {
  font-size: 125%;
}

.content {
  padding-top: 100px;
  padding-bottom: 25px;
}

a {
  text-decoration: underline;
  color: #e95a3a;
}

.btn {
  border: none;
  text-decoration: none;
}

.btn-lg {
  padding-left: 25px;
  padding-right: 25px;
}

.btn-exmachina {
  text-transform: uppercase;
  margin-top: 30px;
  color: #f2f2f2;
  background-color: #e95a3a;
  transition: all 250ms ease-in-out;
}
.btn-exmachina:hover {
  color: #f2f2f2;
  background-color: #d83b18;
}

.hero {
  height: 350px;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#row img {
  width: 100%;
}

ul li {
  list-style: none;
  padding: 0;
}

li {
  border-bottom: 1px solid lightgray;
  padding: 15px 0;
}
li::before, li::after {
  content: "";
  display: block;
  clear: both;
}
li img {
  float: left;
  margin-right: 15px;
}

li:last-child {
  border: none;
}

p {
  line-height: 2;
  font-weight: 300;
}

main {
  background-color: #212121;
  padding: 100px 0 25px;
}

@media screen and (max-width: 768px) {
  a.btn {
    display: block;
  }
}
#row3 .content {
  padding: 25px;
  background-color: #f2f2f2;
}

blockquote {
  background-color: #f2f2f2;
  border-left: none;
}

#row4 h2 {
  color: #f2f2f2;
}
#row4 h4 {
  color: rgba(255, 255, 255, 0.4);
}
#row4 a {
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}
#row4 a:hover, #row4::after {
  text-decoration: underline;
}
#row4 p {
  color: rgba(255, 255, 255, 0.3);
}

footer {
  background-color: #212121;
  text-align: center;
  font-size: 100%;
  color: gray;
}
