body {
	background-color: #552713;
}
header {
	color: #fff;
	text-align: center;
	h2 {
		color: #FD5113;
	}
}
nav {
	display: flex;
	align-items: stretch;
	justify-content: center;
	background-color: #2B1B17;
	width: 75%;
	margin-left: 140px;
	ul {
		list-style: none;
		display: flex;
		justify-content: start-end;
		align-items: stretch;
		li, li a {display: flex;}
		li a {align-items: center;}
		
	}
	a {
		text-decoration: none;
		color: #FD5113;
		padding: 10px;
	}
}
#firstsec {
	background-color: #fff;
}
section {
	display: flex;
	ul {
		list-style: none;
	}
	h2 {
		float: right;
	}
}
#lastsec {
	background-color: #552713;
}
.list li {
	list-style: none;
	line-height: 1.5;
	padding-left: 10px;
	a {
		 color: #c18062;
		 line-height: 1.2;
		 text-decoration: underline;
		 &:hover {
		 	text-decoration: none;
		 }
	}
}
h2 {
	color: white;
	text-align: center;
}
.date {
	width: 80px;
	height: 80px;
	background-color: #FD5113;
	font-size: 20px;
	color: white;
	float: left;
	text-align: center;
}
footer p{
	background-color: #2B140A;
	text-align: center;
	padding: 40px;
	color: #c18062;
}