$font-stack: Arial, Helvetica, sans-serif;
$main-color: mediumpurple;
$main-light: lighten($main-color, 20);
$main-dark: darken($main-color, 30);
$aside-width: 200px;
$asides: calc( 100% - #{$aside-width * 2} );
$pad: 40px;
$halfpad: $pad / 2;

//placeholders not a vriable//

%clearfix {
	&::before,
	&::after {
		content: "";
		display: block;
		clear: both;
	}
}

.bubble {
	background-color: hsla(0, 0%, 100%, .10);
	padding: 10px;
	border-radius: 10px;
}